In [1]:
import pymysql # <- 욤마가 mysql에 들어가는 드라이버

con = pymysql.connect(host='localhost', user='urstory', password='u1234',
                        db='classicmodels', charset='utf8') #여긴 로컬호스트 먹히네

In [2]:
cur = con.cursor(pymysql.cursors.DictCursor) # 커서를 통해서 텍스트를 전달하는데 커서의 앞의 문자열을 명령어로 던진다.

In [3]:
sql = '''CREATE TABLE user_test ( 
id int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, 
name varchar(255), 
address varchar(255) 
) 
'''

In [4]:
cur.execute(sql)

OperationalError: (1050, "Table 'user_test' already exists")

In [5]:
con.commit()

In [6]:
sql = '''INSERT INTO user_test (name, address) 
    VALUES ('홍길동', '서울');'''

cur.execute(sql)
con.commit()

In [7]:
import pandas as pd

sql = '''
select * from user_test
''' 

cur.execute(sql)
pd.DataFrame(cur.fetchall())

   id name address
0   1  홍길동      서울

In [8]:
insert_data = ['심청', '부산']

sql = '''
insert into user_test (name, address)
values(%s, %s);
'''


cur.execute(sql, insert_data)
con.commit()

In [9]:

pd.DataFrame(cur.fetchall())

Empty DataFrame
Columns: []
Index: []