In [1]:
string_a = {}.format(10)

print(string_a)
print(type(string_a))

AttributeError: 'dict' object has no attribute 'format'

In [2]:
string_a = "{}".format(10)

print(string_a)
print(type(string_a))

10
<class 'str'>

In [3]:
x = "Hello World"

In [4]:
lst = [1,2,3,4,5]

In [5]:
lst

[1, 2, 3, 4, 5]

In [6]:
type(lst)

list

In [7]:
i = 10

type(i)

int

In [8]:
"{:3d}".format(12345)

'12345'

In [9]:
"{:3d}".format(1)

'  1'

In [12]:
"{:13}".format(3)

'            3'

In [13]:
lst

[1, 2, 3, 4, 5]

In [14]:
lst[0]

1

In [15]:
lst[2:4]

[3, 4]

In [16]:
lst[2:5]

[3, 4, 5]

In [17]:
lst[-3:0]

[]

In [23]:
lst[-2:-5:-2]

[4, 2]

In [22]:
lst[-5]

1

In [24]:
lst[-2:0:-2]

[4, 2]

In [25]:
lst_a = [[1, 2, 3, 4, 5],[6, 7, 8, 9, 10],[11, 12, 13, 14, 15]]

In [26]:
lst_a

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

In [27]:
lst_a[1]

[6, 7, 8, 9, 10]

In [29]:
lst_a[1][:2]

[6, 7]

In [35]:
print(f"{lst_a[0][-1], lst_a[0][2]}")

(5, 3)

In [36]:
lst_a[0][-1]

5

In [37]:
lst_a[0][-1:-4:-2]

[5, 3]

In [40]:
print(lst_a[0][0], lst_a[1][0], lst_a[2][0])

1 6 11

In [43]:
lst_a[0][:]

[1, 2, 3, 4, 5]

In [44]:
[lst_a[0][0], lst_a[1][0], lst_a[2][0]]

[1, 6, 11]

In [48]:
a = list(lst_a[0][0], lst_a[1][0], lst_a[2][0])

print(a)

TypeError: list expected at most 1 argument, got 3

In [49]:
list(1, 2, 3)

TypeError: list expected at most 1 argument, got 3

In [51]:
list(1)

TypeError: 'int' object is not iterable

In [53]:
# 1, 4, 6, 8, 11, 13

[lst_a[0][::3], lst_a[1][:4:2], lst_a[2][:4:2]]

[[1, 4], [6, 8], [11, 13]]

In [56]:
print(lst_a[0][:4:2] + lst_a[1][:4:2] + lst_a[2][:4:2])

[1, 3, 6, 8, 11, 13]

In [58]:
#12, 14, 2, 4

lst_a[2][1:4:2] + lst_a[0][1:5:2]

[12, 14, 2, 4]

In [59]:
[lst_a[0][0], lst_a[1][0], lst_a[2][0]]

[1, 6, 11]

In [60]:
[lst_a[0][:4:2] + lst_a[1][:4:2] + lst_a[2][:4:2]]

[[1, 3, 6, 8, 11, 13]]

In [61]:
# 15, 11, 5, 1

lst_a[2][::-4]+lst_a[0][::-4]

[15, 11, 5, 1]

In [63]:
"{:3d}".format("문자열")

ValueError: Unknown format code 'd' for object of type 'str'

In [64]:
x = [1,2]
y=[3, 4]

x,y

([1, 2], [3, 4])

In [65]:
x + y

[1, 2, 3, 4]

In [66]:
x*y

TypeError: can't multiply sequence by non-int of type 'list'

In [67]:
x*3

[1, 2, 1, 2, 1, 2]

In [68]:
x.*3

SyntaxError: invalid syntax (3938861504.py, line 1)

In [69]:
x*.3

TypeError: can't multiply sequence by non-int of type 'float'

In [70]:
x*[3]

TypeError: can't multiply sequence by non-int of type 'list'

In [71]:
3*x

[1, 2, 1, 2, 1, 2]

In [72]:
x,,y

SyntaxError: invalid syntax (2120667498.py, line 1)

In [73]:
x*2+y*3

[1, 2, 1, 2, 3, 4, 3, 4, 3, 4]

In [77]:
# 9,3 추출하기

[y[0]+y[0]+y[0], y[0]]

[9, 3]

In [78]:
x = [1, 2, 3, 4, 5] # x의 데이터를 재정의하였다.

x[2] = 9

print(x)

[1, 2, 9, 4, 5]

In [81]:
x[1:3] = [10, 11]

print(x)

[1, 10, 11, 4, 5]

In [82]:
del x[2]

x

[1, 10, 4, 5]

In [85]:
del x[2:]

In [86]:
x

[1, 10]

In [87]:
x.append(12)

In [88]:
x

[1, 10, 12]

In [89]:
x.append([12, 13, 14])

In [90]:
x

[1, 10, 12, [12, 13, 14]]

In [91]:
print(x[3][1])

13

In [99]:
a = "{:f}".format(12.123)

In [100]:
"{:g}".format(float(a))

'12.123'

In [101]:
x = [1, 5, 3, 9, 4, 2] # x 재정의

x.sort()

In [102]:
x

[1, 2, 3, 4, 5, 9]

In [103]:
x.reverse()
x

[9, 5, 4, 3, 2, 1]

In [106]:
list(map(int,range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
x.index(5)

1

In [108]:
x.find(5)

AttributeError: 'list' object has no attribute 'find'

In [109]:
x.index(11)

ValueError: 11 is not in list

In [110]:
x.find(11)

AttributeError: 'list' object has no attribute 'find'

In [111]:
x

[9, 5, 4, 3, 2, 1]

In [112]:
x.find(9)

AttributeError: 'list' object has no attribute 'find'

In [116]:
y = "123345"

y.find('5')

5

In [117]:
a = [1,2,3]
b = [4,5]

a,b

([1, 2, 3], [4, 5])

In [118]:
a.append(b)

In [119]:
a

[1, 2, 3, [4, 5]]

In [120]:
a.extend(b)

In [121]:
a

[1, 2, 3, [4, 5], 4, 5]

In [122]:
y = "123345"

y.index('5')

5