In [1]:
#튜플

a = ()

type(a)

tuple

In [2]:
a = (1, 2, 3, 4, 5)
a

(1, 2, 3, 4, 5)

In [3]:
type((1, ))

tuple

In [4]:
(1, 2, 3)

(1, 2, 3)

In [5]:
(1,(1, 2), 2)

(1, (1, 2), 2)

In [6]:
a = (1, 2, 3, 4, 5)

In [7]:
a[1]

2

In [8]:
a(1)

TypeError: 'tuple' object is not callable

In [9]:
a[4]

5

In [10]:
a[4] = 9

TypeError: 'tuple' object does not support item assignment

In [11]:
a[2:4]

(3, 4)

In [12]:
del a[3]

TypeError: 'tuple' object doesn't support item deletion

In [13]:
a = (1, 2, 3, 4)
b = ("a", "b", "c")

a+b

(1, 2, 3, 4, 'a', 'b', 'c')

In [14]:
a+5

TypeError: can only concatenate tuple (not "int") to tuple

In [15]:
[1,2,3]+5

TypeError: can only concatenate list (not "int") to list

In [16]:
a + [1,2,3]

TypeError: can only concatenate tuple (not "list") to tuple

In [17]:
a*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [18]:
print("가가">"나나")

False

In [19]:
print("가가"<"나나")

True

In [20]:
print("가가"<"a")

False

In [21]:
print("ㄱ"<"z")

False

In [22]:
print("ㄱ"<"ㅎ")

True

In [23]:
number("a")

NameError: name 'number' is not defined

In [45]:
import enum

class RAINBOW(enum.Enum): # enum 클래스를 선언
		# enum 클래스에 소속된 상수 리스트
		# 상수명 = 튜플 -> 수정이 불가능하다.
		# RAINBOW.RED.value[]
    RED = (enum.auto(), 0)
    ORANGE = (enum.auto(), 1)
    YELLOW = (enum.auto(), 2)
    GREEN = (enum.auto(), 3)
    BLUE = (enum.auto(), 4)
    LAVY = (enum.auto(), 5)
    PURPLE = (enum.auto(), 6)

In [27]:
x = "RED"

RAINBOW[x].value[0] + RAINBOW[x].value[0]

2

In [28]:
RAINBOW.__members__

mappingproxy({'RED': <RAINBOW.RED: (1, '빨강')>,
              'ORANGE': <RAINBOW.ORANGE: (2, '주황')>,
              'YELLOW': <RAINBOW.YELLOW: (3, '노랑')>,
              'GREEN': <RAINBOW.GREEN: (4, '초록')>,
              'BLUE': <RAINBOW.BLUE: (5, '파랑')>,
              'LAVY': <RAINBOW.LAVY: (6, '남색')>,
              'PURPLE': <RAINBOW.PURPLE: (7, '보라')>})

In [29]:
for k, v in RAINBOW.__members__:
    a = list(map(str,k))

print(a)

ValueError: too many values to unpack (expected 2)

In [34]:
[k for k in RAINBOW.__members__]

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE', 'LAVY', 'PURPLE']

In [32]:
for e in RAINBOW:
    print(e)

RAINBOW.RED
RAINBOW.ORANGE
RAINBOW.YELLOW
RAINBOW.GREEN
RAINBOW.BLUE
RAINBOW.LAVY
RAINBOW.PURPLE

In [33]:
for e in RAINBOW.__members__:
    print(e)

RED
ORANGE
YELLOW
GREEN
BLUE
LAVY
PURPLE

In [35]:
for e in RAINBOW:
    print(e.name)

RED
ORANGE
YELLOW
GREEN
BLUE
LAVY
PURPLE

In [36]:
[k for k in RAINBOW.__members__]

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE', 'LAVY', 'PURPLE']

In [37]:
[k.name for k in RAINBOW]

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE', 'LAVY', 'PURPLE']

In [38]:
for k in RAINBOW:
    print(k.name)

RED
ORANGE
YELLOW
GREEN
BLUE
LAVY
PURPLE

In [40]:
a = []

for e in RAINBOW:
    a.append(e.name)

print(a)

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE', 'LAVY', 'PURPLE']

In [41]:
# RANIBOW의 상수명들만 뽑아서 리스트에 넣자

lst = []

for e in RAINBOW: # RAINBOW에 있는 상수들을 하나씩 뽑아서 e 변수를 넣고 뽑아보자
    # e 변수를 print()한다
    # print(e.name) # e = RAINBOW.RED -> e.name == RAINBOW.RED.name
    lst.append(e.name)

print(lst)

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE', 'LAVY', 'PURPLE']

In [48]:
sum = 0

for e in RAINBOW:
    sum += e.value[1]

print(sum)

21

In [63]:
[k.name for k in RAINBOW if k == RAINBOW.RED]

['RED']

In [62]:
for k in RAINBOW:
    print(k)

RAINBOW.RED
RAINBOW.ORANGE
RAINBOW.YELLOW
RAINBOW.GREEN
RAINBOW.BLUE
RAINBOW.LAVY
RAINBOW.PURPLE

In [67]:
k = range(1,6)

print([100 for i in k if i in (2, 4)])

[100, 100]

In [73]:
sum = 0

for e in RAINBOW:
    sum += e.value[1]

mean = sum/len(RAINBOW)

print(mean)

3.0