In [1]:
dic = {
    
}

type(dic)

dict

In [6]:
dic = {
    "name" : "홍길동", # 한 쌍 (key : value)
    "age" : 25,
    "address" : ["강남", "제주", "강릉", "부산"],
    "dic2" : {'a':'a','value':2}
}

dic

{'name': '홍길동',
 'age': 25,
 'address': ['강남', '제주', '강릉', '부산'],
 'dic2': {'a': 'a', 'value': 2}}

In [7]:
type(dict())

dict

In [8]:
#요소 조회하는 방법 : 변수명["key_name"]
dic["name"]

'홍길동'

In [9]:
dic["address"]

['강남', '제주', '강릉', '부산']

In [10]:
dic['address'][1]

'제주'

In [11]:
dic['address'][1+1]

'강릉'

In [12]:
dic['address'][
    3
               ]

'부산'

In [14]:
dic['dic2']

{'a': 'a', 'value': 2}

In [13]:
dic['dic2']['value']

2

In [20]:
dic.get('age') #얻다 set 수정하다.

25

In [24]:
dic['dic2']['value']

2

In [22]:
dic.get("dic2")['value']

2

In [23]:
dic.get('dic2').get('value')

2

In [25]:
dic.get('d')

In [26]:
dic['d']

KeyError: 'd'

In [27]:
print(dic.get('d'))

None

In [28]:
dic.get('d', "없어")

'없어'

In [29]:
lst = [1, 2, 3, 4, 5]

3 in lst

True

In [32]:
3 not in lst

False

In [34]:
tpl = (1, 2, 3, 4, 5)

3 in tpl

True

In [35]:
"name" in dic

True

In [36]:
dic.keys()

dict_keys(['name', 'age', 'address', 'dic2'])

In [39]:
type(bool())

bool

In [40]:
dic.items()

dict_items([('name', '홍길동'), ('age', 25), ('address', ['강남', '제주', '강릉', '부산']), ('dic2', {'a': 'a', 'value': 2})])

In [46]:
[(k, v) for k, v in dic.items()]

[('name', '홍길동'),
 ('age', 25),
 ('address', ['강남', '제주', '강릉', '부산']),
 ('dic2', {'a': 'a', 'value': 2})]

In [47]:
dic.values()

dict_values(['홍길동', 25, ['강남', '제주', '강릉', '부산'], {'a': 'a', 'value': 2}])

In [49]:
dic["aaa"] = 111

In [50]:
dic

{'name': '홍길동',
 'age': 25,
 'address': ['강남', '제주', '강릉', '부산'],
 'dic2': {'a': 'a', 'value': 2},
 'aaa': 111}

In [51]:
dic['aaa'] = 222

In [52]:
dic

{'name': '홍길동',
 'age': 25,
 'address': ['강남', '제주', '강릉', '부산'],
 'dic2': {'a': 'a', 'value': 2},
 'aaa': 222}

In [53]:
del dic["aaa"]

In [54]:
dic

{'name': '홍길동',
 'age': 25,
 'address': ['강남', '제주', '강릉', '부산'],
 'dic2': {'a': 'a', 'value': 2}}

In [56]:
[print(k) for k in dic.keys()]

name
age
address
dic2

[None, None, None, None]

In [57]:
[print(k) for k in dic.keys()]

name
age
address
dic2

[None, None, None, None]

In [59]:
[k for k in dic.keys()]

['name', 'age', 'address', 'dic2']

In [62]:
k = 0

print(k for k in dic.keys())

<generator object <genexpr> at 0x0000022C65BDC040>

In [63]:
[k for k in dic.keys()]

['name', 'age', 'address', 'dic2']

In [64]:
[k for k in dic.values()]

['홍길동', 25, ['강남', '제주', '강릉', '부산'], {'a': 'a', 'value': 2}]

In [78]:
[k == '홍길동' for k in dic.values()]

[True, False, False, False]

In [79]:
type(int()) == int

True

In [80]:
[type(k) == dict for k in dic.values()]

[False, False, False, True]

In [82]:
dic["aaa"] = {'a':1,'b':2,'c':3}

In [83]:
dic

{'name': '홍길동',
 'age': 25,
 'address': ['강남', '제주', '강릉', '부산'],
 'dic2': {'a': 'a', 'value': 2},
 'aaa': {'a': 1, 'b': 2, 'c': 3}}

In [85]:
[k for k in dic.get('aaa').values()]

# dic.get('aaa') = {'a': 1, 'b': 2, "c": 3}
# {'a': 1, 'b': 2, "c": 3}.values() = 1, 2, 3

[1, 2, 3]

In [86]:
dic.get('aaa').values()

dict_values([1, 2, 3])

In [88]:
dic[4]

KeyError: 4

In [89]:
dic.values()

dict_values(['홍길동', 25, ['강남', '제주', '강릉', '부산'], {'a': 'a', 'value': 2}, {'a': 1, 'b': 2, 'c': 3}])

In [98]:
dic['aaa'].values()

dict_values([1, 2, 3])

In [99]:
dic.values()

dict_values(['홍길동', 25, ['강남', '제주', '강릉', '부산'], {'a': 'a', 'value': 2}, {'a': 1, 'b': 2, 'c': 3}])

In [100]:
(dic.values())

dict_values(['홍길동', 25, ['강남', '제주', '강릉', '부산'], {'a': 'a', 'value': 2}, {'a': 1, 'b': 2, 'c': 3}])

In [107]:
[a for a in ([v for v in dic.values()][-1].values())]

[1, 2, 3]

In [108]:
len('')

0