In [1]:
set("Hello")

{'H', 'e', 'l', 'o'}

In [2]:
set("SsSssS")

{'S', 's'}

In [3]:
set(123123)

TypeError: 'int' object is not iterable

In [4]:
set("123123")

{'1', '2', '3'}

In [6]:
set([1,2,3,1,2,3])

{1, 2, 3}

In [7]:
set("123123",[1,2,3])

TypeError: set expected at most 1 argument, got 2

In [8]:
set(['a', 'b', 'c', 1, 2, 3])

{1, 2, 3, 'a', 'b', 'c'}

In [10]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7, 8, 9, 10])

a.intersection(b)

{3, 4, 5}

In [11]:
a & b

{3, 4, 5}

In [12]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
a.difference(b)

{1, 2}

In [15]:
a - b

{1, 2}

In [16]:
a.add(6)

In [17]:
a

{1, 2, 3, 4, 5, 6}

In [18]:
a.update([7, 8, 9])

In [19]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
a.remove(9)

In [23]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
output = "" 

number = int(input("숫자를 입력하세요."))

for i in range(1, number):
    for j in range(number-1,i,-1):
        output += "0"
    for k in range(0, 2*i-1):
        output += "*"
    output += "\n"

print(output)

00000000*
0000000***
000000*****
00000*******
0000*********
000***********
00*************
0***************
*****************

In [5]:
import time
number = 0

target_tick = time.time() + 5

while time.time() < target_tick:
    number += 1

print(f"5초동안 {number}번 반복했습니다.")

5초동안 71849966번 반복했습니다.

In [6]:
enumerate([1, 2, 3, 4, 5])

In [7]:
list(enumerate([1, 2, 3, 4, 5]))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [25]:
lst = [1, 2, [3, 4], 5, [6, 7], [8, 9], [10,11,12,13], 14,15,[16,17]] # [1, 2, 3, 4, 5, 6, 7, 8, 9]로 바꿔보자

output = []

lst_enumerate = list(enumerate(lst))
for n in range(len(lst)):
    if type(lst_enumerate[n][1]) != list:
        output.append(lst_enumerate[n][1])
    elif type(lst_enumerate[n][1]) == list:
        output.extend(lst_enumerate[n][1])

print(output)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [19]:
i = ['a', 'b']

i.extend([1,2])
i

['a', 'b', 1, 2]

In [47]:
codon = "asdfsdfadasddsaddsasddsdsasdasd"

lst_codon = []
tpl_codon = {}

if len(codon) < 3:
    print("의미없는 염기서열 입니다.")
    quit()

for i in range((len(codon))//3):
    lst_codon.append(codon[3*i:3*i+3])

for j in lst_codon:
    if j in tpl_codon:
        tpl_codon[j] += 1
    else:
        tpl_codon[j] = 1

print(tpl_codon)

{'asd': 3, 'fsd': 1, 'fad': 1, 'dsa': 1, 'dds': 1, 'dsd': 1, 'sas': 1, 'das': 1}

In [45]:
codon = "asdfsdfadasddsaddsasddsdsasdassds"


for i in range((len(codon))//3):
    lst_codon.append(codon[3*i:3*i+3])

print(lst_codon)

['asd', 'fsd', 'fad', 'asd', 'dsa', 'dds', 'asd', 'dsd', 'sas', 'das', 'sds']